<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>TicTacToe</title>

</head>

<div class="container">
  <div class="row">
    <h3>Spieler1 ist dran</h3>
  </div>
  <br />
</div>
<div class="container">
  <div class="row">
    <div id="feld1" class="col-3">1</div>
    <div id="feld2" class="col-3">2</div>
    <div id="feld3" class="col-3">3</div>
  </div>
  <div class="row">
    <div id="feld4" class="col-3">4</div>
    <div id="feld5" class="col-3">5</div>
    <div id="feld6" class="col-3">6</div>
  </div>
  <div class="row">
    <div id="feld7" class="col-3">7</div>
    <div id="feld8" class="col-3">8</div>
    <div id="feld9" class="col-3">9</div>
  </div>

</div>
